*
{
    font-family: montserrat;
}
body
{
    background:black;
}
.section-padding
{
    padding: 100px 0;
}
.carousel-item
{
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
}
.carousel-inner::before
{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.2);
}

.navbar-nav a
{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}
.navbar-brand
{
    font-size: x-large;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navbar .nav-link:hover
{
   font-size: large;
}

.w-100
{
    height: 100vh;
}

.card-group h5
{
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.card-group p
{
    font-size: 18px;
}

.card-body h5
{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.footer
{
    padding: 30px 0;
}
.container-2
{
   position: absolute;
   width: 100%;
   height: 100vh;
   background-color: #262626;
   left: 0px;
   padding-bottom: 60px;
   max-height: 50%;
   margin: auto;
}
.row
{
    display: flex;
    
}
.footer-col
{
    width: 20%;
    padding: 0 35px;
}
.footer-col h4
{
    margin-left: 27px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-family: "poppins";
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;

    
}
.footer-col li 
{
   margin-bottom: 10px;
   font-weight: 300; 
   color: gray; 
     
}
.footer-col li a
{
    color: gray;
    transition: .1s;
}
.footer-col li a:hover
{
    color: #fff;
}

form
{
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}

form textarea
{
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

form button
{
    margin-left: 30px;
    margin-bottom: 10px;
}






/* responsive */


@media only screen and (max-width: 767px)
{
    .navbar-nav
    {
        text-align: start;
    }
    .container-2
    {
        margin-bottom: 0;
        max-height: max-content;
    }

    .footer-col h4
    {
        font-size: smaller;
    }

    form textarea
    {
        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
    }
}

